ul {
    list-style-type:none;
    text-align:center;
    z-index: 10;
}

li {
    display:inline-block;
}
li a{
    margin:25px;
    font-size:1.5rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
}
nav {
    position: fixed;
    width:100%;
    z-index:8;
    border-bottom: 1px outset;
}
body {
    padding:0px;
    margin:0px;
}
img {
    max-height: 400px;
    display: block;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
}

.first {
    position: absolute;
    top:50%;
    font-size:40px;
    color:whitesmoke;
    font-weight: 400;
    letter-spacing: 1px;
    transform: translate(20%, -50%);
    animation: pop 3s 1 ;
}

.second{
    position: absolute;
    top:55%;
    font-size:40px;
    color:whitesmoke;
    font-weight: 400;
    transform: translate(20%,-40%);
    animation: show 2s 1;
    padding-top: 30px;
}



@keyframes show {
    0%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
        transform: translate(20%,-20%);
    }
}

h2 {
    text-align: center;
    color:#007bff;
    font-size: 40px;
    font-weight: 900;
}

h3 {
    color:black;
    font-size:30px;
    margin: 10px;
}

article {
    display:inline-block;
    width:30%;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}

figure{
    display:inline-block;
    width:50%;
    margin-left: 15%;
    vertical-align: top;
}

  .hide {
    margin-top: 150px;
    opacity: 0;
  }

  @media only screen and (max-width: 1300px) {
    figure {
      width: 100%;
      margin-left: 0px ;
      margin-top:20px !important;
    }
    article{
        width:100%;
    }
  }

  #socialMedia {
      background-image: url("assets/back1.svg");
  }

  #fb {
      background-image: url("assets/fb.svg");
      height: 130px;
      width: 130px;
      margin-left: 30%;
      display:inline-block;
      cursor: pointer;
  }

  #tweet {
    background-image: url("assets/tweet1.svg");
    height: 100px;
    width: 100px;
    margin-left: 20%;
    display: inline-block;
    cursor: pointer;   
  }

  @keyframes bounce-1 {
    0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-70px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
}

#fb:hover {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: ease;
    background-image: url("assets/fb1.svg")
}

#tweet:hover {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: ease;
    background-image: url("assets/tweet2.svg");
    width:115px;
}

.grid {
    width:70%;
    margin-left: 15%;
}

.carousal {
    padding:0px;
    display:table-cell;
    width:auto;
}

.carousal-imgs {
    display: inline-block;
    margin:20px;
    cursor: pointer;
}

#carousal-section {
    text-align: center;
    margin-top: 60px;
    display:table;
    margin-left: auto;
    margin-right: auto;
}

.arr {
    vertical-align:middle;
    display: table-cell;
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    #car0 , #car2 , #des0 , #des2 {
        display: none;
    }
  }

  @media only screen and (max-width: 1100px) {
    h3 {
        font-size: 24px;
    }
  }

  @media only screen and (max-width: 640px) {
    li {
        display: block;
        padding:5px;
    }
  }

  .carousal-par{
        position: absolute;
        bottom: 55px;
        right: 35px;
  }

  .modal {
      display: none;
      position: fixed;
      z-index: 9;
      left:0;
      top:0;
      height: 100%;
      width: 100%;
      overflow:auto;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
  }

  #modal-content {
      left:30%;
  }


  td,th,table {
      border-bottom:1px solid;
  }

  td , th {
      height: 50px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  .day {
      color:#fc99f4;
  }

  table {
    width:100%;
    border-collapse: collapse;
    background-color: white;
}

  #details {
      position :absolute;
      top:0px;
      width:100%;
      height: 430px;
      background-image: url("assets/back1.svg");
      backface-visibility: hidden;
      transform: rotateY(180deg);
      color:white;
  }
