ul {
    list-style-type:none;
    text-align:center;
}

li {
    display:inline-block;
}
li a{
    margin:30px;
    font-size:1.5rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
}

div {
    display:inline;
}
nav {
    position: fixed;
    width:100%;
}
body {
    padding:0px;
    margin:0px;
}
img {
    max-height: 600px;
}